<!DOCTYPE html>
<html lang="en">
<head>

    <title>ASRE9NI ADMIN</title>

    <!--semanticUi-->
    <link lang="en" rel="stylesheet" href="/SemanticUI/semantic.min.css">
    <link lang="en" rel="stylesheet" href="/SemanticUI/semantic.css">

    <script type="text/javascript" src="/SemanticUI/semantic.min.js"></script>
    <script type="text/javascript" src="/SemanticUI/semantic.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/PageAdmin.css">


</head>

<body>

