
@font-face {
    font-family: 'PT Sans';
    src: url(/Font/PTSans-Regular.ttf);
  }
  
  @font-face {
    font-family: 'League Spartan';
    src: url("/Font/league-spartan-master/webfonts/leaguespartan-bold.woff2");
  }
  

  .Tete{
      background-color: #F6B21B;
  }

.TitlePTSans{
  
    font-family :'PT Sans';
    font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 93px;
text-align: center;
letter-spacing: 0.135em;
}

.PTSans{
    font-family :'PT Sans';
}

.PTSansAsre9ni{
    font-family :'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.135em;
}

.Logo{
    padding: 1% 0 0 3%;
    color:#222;
   
}

.Logo:hover{ 
    color:#fff;
    text-decoration: none;
}
.Logo1{
    width: 75px;
    height: 30px;
    margin-right: 5px ;
    background: #222222;
    border-radius: 0px 25px 0px 0px;
}

.Logo2{

    width: 30px;
height: 30px;

border-radius: 15px;

background: #222222;
}

.Compte{
    text-align: center;
    text-align: justify;
    margin-top: 7%;
    font-family :'PT Sans';
    font-style: normal;
    font-weight: normal;
   
    line-height: 31px;
    /* identical to box height */
    
}

.ImageCount{
    margin-top: 5%;
    border: 2px;
    border-color: #222222;
}

.TitleMenu{

    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */
color:#222222;
text-align: center;
letter-spacing: 0.135em;
}

.TitleMenu:hover{
    color:#F6B21B;
    text-decoration: none;
}

.PhaseHover:hover{ 

    color:rgb(218, 218, 218);
    text-decoration: none;

}

.CardWelcome{
    width: 300px;
height: 450px;
background: #F6B21B;
border: 2px solid #222222;
box-sizing: border-box;
border-radius: 5px;
}

.TitleCardWelcom{
    margin:13px 0px 0px 18px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #222;
}

.ImageCardWelcom{
    margin-left: 31.5px;
    width: 237px;
height: 244px;
}

#titleSpecial{
    margin:13px 0px 0px 18px;
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 47px;
/* identical to box height */

text-align: center;
letter-spacing: 0.085em;

color: #222;
}

.Footerfin{
    height: 80px; 
    width: 100%;
  
}

.cont{
    
    margin: 15% auto;
    width: 1269px;
}

.footer{
    width: 100%;
   background-color:#F6B21B; 
    height: 237px;
}

main{
    padding: 10px 5px ;
    margin-bottom:10px;
  
}

.headOver{
   
border: 2px solid #F6B21B;
box-sizing: border-box;
border-radius: 5px;
padding:20px 0px;
}

.Filter{
   
min-height: 90vh;
border: 2px solid #F6B21B;
box-sizing: border-box;
border-radius: 5px;
}

.Article{
    padding: 0px 10px;
    
}

.AntiSemantic{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.135em;
    
    color: #2F2F2F;
}

.AntiSemanticBlod{
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

letter-spacing: 0.135em;

color: #222222;
}


.navigation{
    padding-left : 45px;
    padding-top: 24px;
}

.itemNav{
    color: #222222;
    
font-family: "PT Sans";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.135em;

}

.itemNav:hover{
    color: #F6B21B;
    text-decoration: none;
}

.TitleNav{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 26px;
    /* identical to box height */
    
   
    
    color: #222222;
    
}
.TitleHerf:hover{
    text-decoration: none;
}
.TitleNav:hover{
    color: #F6B21B;
    text-decoration: none;
}

.GeneralTitleNav{
    
font-family: "PT Sans";
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
/* identical to box height */


color: #222;

}

.BackgroundImage{
    width: 200px;
height: 180px;
    background-color: #F6B21B;
    padding: 15px 8px;
    border-radius: 5px;

}


.ImageProduct{
    width: 183px;
height: 150px;
left: calc(50% - 183px/2 - 320.5px);
top: calc(50% - 150px/2 - 142px);
background-color: #F6B21B;
border-radius: 5px;
}

.ProductTitle{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.135em;
    
    color: #222222;
}

.ProductTitle:hover{

    text-decoration: none;
    color:#F6B21B;

}

.ProductPrice{ 
    margin: 15px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.135em;
    
    color: #F6B21B;
}

.ProductDetail{ 

    margin:15px;
    word-wrap: break-word;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.135em;
    
    color: #222222;
    
}
.CardProduct{   

    margin: 25px;
    width: auto;
    border: 2px solid #222222;
box-sizing: border-box;
border-radius: 5px;

padding:21px 18px;
}


.ProductCategory{
  
    margin-top:15px;
    padding:20px;

}

.CardProductDetail{
    
    
    margin: 25px ;

    border: 2px solid #F6B21B;
    box-sizing: border-box;
    border-radius: 5px;
    padding:21px 18px;

}


.CategoryProduct{

    width:max-content;
    float:left;
    margin: 0px 10px;

}

.ProductImageDetailCard{
    margin: 30px;
    width: 370px;
height: 370px;
padding:22px;
background: #F6B21B;
border-radius: 10px;
}

.ProductImageDetail{
    width: 325px;
height: 325px;


border-radius: 10px;
}


.ProductTitleDetail{
    margin: 30px 60px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: 0.135em;
    
    color: #222222;
}

.ProductPriceDetail{
    margin :0px 60px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.135em;
    
    color: #F6B21B;
    
}


.ProductDetailDetail{
    margin:25px 75px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.135em;
    
    color: #444444;
    
}

.ActionProduct{
    margin:10% 9%;

}

.ButtonAction{
    
    background: #F6B21B;
border-radius: 10px;
font-family: 'PT Sans';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.135em;
    width: 225px;
    height: 75px;
color: #222222;
margin: 0px 2%;

}

.CaseButton{
    padding: 0% 30%;
}
