<!DOCTYPE html>
<html lang="en">

<head>

    <title>ASRE9NI STORE </title>

    <!--semanticUi-->
    <link lang="en" rel="stylesheet" href="/SemanticUI/semantic.min.css">
    <link lang="en" rel="stylesheet" href="/SemanticUI/semantic.css">

    <script type="text/javascript" src="/SemanticUI/semantic.min.js"></script>
    <script type="text/javascript" src="/SemanticUI/semantic.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/Pages.css">
</head>
<body>

    <div class="header row Tete">
        <a class="col-md-3 col-xs-4 Logo" href="/">
            <div class="row"> 
                <div class="col-xs-8  Logo1"></div>
                <div class="col-xs-4 Logo2"></div>    
            </div>
            <div class="row">
                <div class="PTSansAsre9ni">ASRE9NI</div>
            </div>
        </a>
        <div class="col-md-6 col-xs-8 ">
            <div class="TitlePTSans"> Store </div>
        </div>

        <div class="col-md-3 col-xs-12">

            <div class="Compte col-md-6 col-xs-6 ">
            <div class=" ui secondary  menu ">
                <a class="item " style=" font-size: 14px;">
                  Items
                </a>
                <a class="item "  style=" font-size: 14px;">
                  Card
                </a>
            </div>
        </div>
            <div class="col-md-6 col-xs-6 ImageCount">
                <div class="content PTSansAsre9ni">
                   
                    <img class="ui avatar image" src="/image/User/Profile.png"> 
                  </div>
            </div>

        </div>

    </div>
    <br>

    