<div class="ui nav headOver" >
    
    <a class="ui  col-xs-3 col-lg-3 TitleMenu" href="/Product"> 
            Product
    </a>

    <a class="ui  col-xs-3 col-lg-3 TitleMenu" href="/Training"> 
            Training
    </a>

    <a class="ui  col-xs-3 col-lg-3 TitleMenu" href="/Dlala"> 
            Dlala Street
    </a>

    <a class="ui  col-xs-3 col-lg-3 TitleMenu" href="/Bank"> 
        Bank
    </a> 

</div>