


    <div class="center aligned container cont">
        <a class="col-lg-3" href="http://localhost:8080/Product"> 
            
            <div class="CardWelcome " >

                <div class="TitleCardWelcom">Product </div>
                <img src="/image/StoreImages/3.png" class="ImageCardWelcom">
            
            
            </div>
        </a>
        <a class="col-lg-3"href="http://localhost:8080/Training"> 
            <div class="CardWelcome" >

                <div class="TitleCardWelcom" >Training </div>
                <img src="/image/StoreImages/7.png" class="ImageCardWelcom">
            
            
            </div>
        </a>

        <a class="col-lg-3"href="http://localhost:8080/Dlala"> 
            <div class="CardWelcome" >

                <div class="TitleCardWelcom" id ="titleSpecial">Dlala Street</div>
                <img src="/image/StoreImages/9.png" class="ImageCardWelcom">
            
            
            </div>
        </a>

        <a class="col-lg-3"href="http://localhost:8080/Bank"> 
            <div class="CardWelcome" >

                <div class="TitleCardWelcom">Bank </div>
                <img src="/image/StoreImages/5.png" class="ImageCardWelcom">
            
            
            </div>     
        </a>

      

        
    </div>


    <div class="center  footer">
        
    </div>

