<div class=" col-lg-8 CardProductDetail ">
    <div class="row">
    <div class="col-lg-4 ProductImageDetailCard">
        <img src="./image/Product/test.png" class="ProductImageDetail">
    </div>

    <div class="col-lg-8 row">

        <div class="column ProductTitleDetail ">
            title here (big title here ) (x big title here) .
        </div>
        <div class="column ProductPriceDetail">
            88 000.55 $
        </div>

        <div class="column ProductDetailDetail">
          describe describe describedescribedescribedescribe describe describe describe describe describe describe describe describe describe describe describe describe describe describe describe describe 
        </div>


       
    </div>
  </div>
<br>
    <div class="ActionProduct col-lg-12 ">
    <div class="CaseButton col-lg-12 ">
        <button class="column ButtonAction">Buy</button>
        <button class="column ButtonAction">Contact</button>
    </div>
    <div>
</div>