 <div class="ui col-lg-12 CardProduct">

    <div class="col-lg-3 ">
        <div class="BackgroundImage">
        <img src="/image/Product/test.png" class="ImageProduct">
    </div>
    </div>

    <div class="col-lg-9 ">
        <div class="row">
            <a class="column ProductTitle ">
                title here (big title here ) (x big title here) .
            </a>
            <div class="column ProductPrice">
                88 000.55 $
            </div>
    
            <div class="column ProductDetail">
              describe describe describedescribedescribedescribe describe describe describe describe describe describe describe describe describe describe describe describe describe describe describe describe 
                  </div>
    
            <div class="column ProductCategory">  
                <div class="col-lg-2">
                    <a class="ui  label">
                        Category
                    </a>
                </div>
            </div>
            </div>

    </div>
    


</div>