 <div class="ui col-lg-12 CardProduct">

    <div class="col-lg-3 ">
        <div class="BackgroundImage">
        <img src="<%= Product.Image %> " class="ImageProduct">
    </div>
    </div>

    <div class="col-lg-9 ">
        <div class="row">
            <a class="column ProductTitle ">
                <%= Product.Nom_Product %> 
            </a>
            <div class="column ProductPrice">
                <%= Product.Price %>  $
            </div>
    
            <div class="column ProductDetail">
                <%= Product.Describe_Product %> 
            </div>
    
            <div class="column ProductCategory">  
                <div class="CategoryProduct">
                    <a class="ui  label">
                        <h5>Category</h5> 
                    </a>
                </div>
                <div class="">
                    <a class="ui  label">
                       <h5>Category</h5> 
                    </a>
                </div>
            </div>
            </div>

    </div>
    


</div>