<div class=" col-lg-8 CardProductDetail ">
    <div class="row">
    <div class="col-lg-4 ProductImageDetailCard">
        <img src="<%= Product.Image %>" class="ProductImageDetail">
    </div>

    <div class="col-lg-8 row">

        <div class="column ProductTitleDetail ">
            <%= Product.Nom_Product %> 
        </div>
        <div class="column ProductPriceDetail">
            <%= Product.Price %> $
        </div>

        <div class="column ProductDetailDetail">
            <%= Product.Describe_Product %> 
        </div>


       
    </div>
  </div>
<br>
    <div class="ActionProduct col-lg-12 ">
    <div class="CaseButton col-lg-12 ">
        <button class="column ButtonAction">Buy</button>
        <button class="column ButtonAction">Contact</button>
    </div>
    <div>
</div>